<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A Post</title>
    <link rel="stylesheet" href="/1.css">
</head>
<body>
    <form method="post" action="/posts">
        <input name="username" placeholder="Enter username">
        <br>
        <br>
       
        <textarea name="content"  placeholder="Write your post" cols="30" rows="10"></textarea>
       <br>
       <br>
        <button> Create Post</button>
    </form>
    
</body>
</html>